language: python
python:
- 3.5
- 3.6
install:
- pip install -r requirements.txt
- pip install codecov
script:
- python -m unittest discover
deploy:
- provider: heroku
  api_key:
    secure: DYVgWwL70QZXhZYT8FhaOtoFdb7utZLphRubcpFB2En0gD/4q9u+eUIfgcj25vs+wPCu4eiyHxkhZ+jDq8dgBc3Pz9V2eCYTblWEnrbK7XzajHUA3y/zejochE0LomXDlMBLbfybZMw8oZtuCcpYMXGkhMQgjtGmtM2rHvIk5cq8Vvo1GhP7s8iMqNVMN+NRc1lKGwopZzUjWWQTxKSRFlwJQhcRdp+mV3SQsrKNjcNlmVpENBlJEP6wF392dR6jzSejq3T9DbbFWcdyFt9MOiZQJxTSn11C6ZzJUrnUD8c756oK4XclnVbz/RPtVmqfO2XBfA7Xk8HpKyIwpeOmOxRitbH3Afzw1FT2NN8n/ykye21kzKyquYVTToTTmy+1vo54Bw8UQDzHwzDGhnEcvYW60SySPihrwpLCvyPNHIvtRvezkYDc79RFbhTpnFVrth3F/7RdYgg1w5H/0IEbmnJgtMTUL4xcCUEj3BwGy663fpXYV1RW5JCqeBKw6718m98PCJ4AJG9LOHsoZjwi8EiiUXfrvDR5flLgSNMGkr3B6JbX+th7nyIKj/W+1Gf3wLHUuEhzTagIx0wXqtCDfZWUaVDGKDD5Pd4vbztYk1bXEuBuwW8kuWSPAUl1R9E6cewcaps/xpTPNRRW2TTnRsf59GMS3CRVchnKPLbljss=
  app: screwdriver-api-heroku
  
