[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
itsdangerous = "==0.24"
six = "==1.9.0"
Flask = "==0.10.1"
Flask-HTTPAuth = "==2.3.0"
Flask-RESTful = "==0.3.1"
"Jinja2" = "==2.7.3"
MarkupSafe = "==0.23"
Werkzeug = "==0.9.6"
pylint = "==2.1.1"
gunicorn = "==19.9.0"
"aniso8601" = "==4.0.1"
astroid = "==2.0.4"
colorama = "==0.4.0"
isort = "==4.3.4"
lazy-object-proxy = "==1.3.1"
mccabe = "==0.6.1"
pytz = "==2018.6"
wrapt = "==1.10.11"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.7"
