[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
flask = "*"
flask-restful = "*"
flask-httpauth = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
"psycopg2" = "*"
python-dotenv = "*"
flasgger = "*"
rope = "*"
pylint-flask = "*"
flask-login = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.6"
